# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyBQXFAArrUe4mZQoKKIzaOTW7dCl-lC1I8
VITE_FIREBASE_AUTH_DOMAIN=elhawary-careers-2026.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=elhawary-careers-2026
VITE_FIREBASE_STORAGE_BUCKET=elhawary-careers-2026.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=727033358903
VITE_FIREBASE_APP_ID=1:727033358903:web:b360849e57776d12332db2
VITE_FIREBASE_MEASUREMENT_ID=G-D7K3HGMS7R
